<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-xl text-center">
            <h1><u>Map</u></h1>
             <div style="padding: 30px;"><iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25height=600&hl=en&q=Philadelphia,%20PA&t=&z=14&ie=UTF8&iwloc=B&output=embed"></iframe>
            </div> 
        
         
        </div>
        <div class="col-xl text-center">
            <h1><u>About</u></h1>
            <div style="padding: 30px;">
                <h4>Update 24x7 is a newspaper company that was established in 2000. Update 24x7 was founded to provide
                    up to
                    date information to the public.
                    Our goal is to constantly update our website so that the public has the latest news about whats
                    going on in
                    the world.</h4><br><br>
                <h4><u>Here are the features of Update 24x7:</u></h4>
                <h5>Up to date information</h5>
                <h5>Liable & accurate information</h5>
                <h5>Digital news accessible from anywhere</h5>
                <h5>Unbiased news</h5>
            </div>
        </div>

    </div>
</div>

