
    <form class="col-md-6 offset-md-3" [formGroup]="weatherForm" (ngSubmit)="handleFormSubmit()">
    <div class="card text-center">
        <div class="card-header">
          Get a Weather Report
        </div>
        <div class="card-body">
          <h5 class="card-title">{{weatherReport.weather | titlecase}}</h5>
          <p class="card-text font-weight-bold"><img class="img-fluid"
            [src]="weatherReport.icon" alt=""> Temperature: {{weatherReport.temperature | number : '1.0-0'}} <sup>o</sup> F
            
          </p>
          <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter City Name" formControlName="cityName" name="cityName">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary" [disabled]="weatherForm.invalid"> Get Weather </button>
          </div>
          
                <div *ngIf="weatherForm.get('cityName').invalid && 
                weatherForm.get('cityName').errors && 
                (weatherForm.get('cityName').dirty || weatherForm.get('cityName').touched)">
                    <small class="text-danger" *ngIf="weatherForm.get('cityName').hasError('required')">
                        This field is required.
                    </small>
                </div>
            <br>
            </div>

            
        </div>
        <!--
        <div class="card-footer bg-success text-white">
            <img class="img-fluid"
            [src]="weather_report.icon" alt="Weather Icon">
        </div>
        -->
      </div>
    </form>